# envs
.venv/*
venv/*
llm/*
.vscode/*

# tmp files
tmp/*
*.egg-info/*
record.md

# output files
output/*
output_diff/*
output_weights/*
output_bin/*
compressed_opt-125m/*
compressed_opt-125m_gs512/*
compressed_*/
perplexity_logs/*
quant_report/*
results/*
result/*
extract_weights/*
diff_hist/*
symm_hist/*
plt_figures/*
*.csv
*.png
*.jpg
*.npz

__pycache__/*
*.pyc
*.pyo
