# envs
.venv/*
venv/*
llm/*
.vscode/*

# tmp files
tmp/*
*.egg-info/*
record.md

# output files
output/*
output_diff/*
output_weights/*
output_bin/*

results/*
result/*
diff_hist/*
symm_hist/*
plt_figures/*
*.csv
*.png
*.jpg

__pycache__/*
*.pyc
*.pyo
